body{
    display:flex;
    flex-direction: column;
    margin: 0;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding: 16px;
    padding-left: 150px;
    padding-right: 150px;  
}
.title{
    color:white;
    font-size: large;
    font-weight: bold;
}
.right-header{
    display: flex;;
    flex-direction: row;
    gap: 16px;
}
li{
    list-style: none;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #F9FAF8
}
/* first container 
Adjust flex, so picture and text-container flex proportionally*/
.top-container{
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    padding-top: 80px;
    flex: 1 1 0;
    gap: 16px;  
}
.left, .right{
    display: flex;
    flex-direction: column;
    width: 50%; 
}
.left.title{
    font-size: larger;
}
.hero-main{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}
p {
    color:#F9FAF8;
}
button{
    color:#F9FAF8;
    background-color: #3882F6;
    align-self: flex-start;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
/* second container - images*/
.info-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 40px;
    padding-top: 30px;
    gap: 50px;   
}
.images-and-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex: 1 1 0;
}
.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.img1 , .img2, .img3 , .img4{
    display: flex;
    flex-direction: column;
    width: 25%;  
}
.subtext{
    color: #1F2937;
    text-align: center;
}
.rounded{
    border-radius: 8px;
}
/* third container - quote */
.quote-container{
    display:flex;
    flex-direction: column;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #E5E7EB;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#1F2937;
    margin:0;
}
.author{
    font-weight: bold;
    color:#1F2937;
    font-size: 20px;
    align-self: flex-end;
    margin:0;
}
/* forth container - action */
.action-container{
    display: flex;
    background-color: #3882F6;
    margin: 120px;
    border-radius: 8px;
    justify-content: space-around;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px; 
}
.action-p{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}
.action-head{
    font-weight: bold;
    font-size: 24px;
}
.button-white{
    border-color:#F9FAF8;
    ;
    display: flex;
    align-self: center;
    padding-left: 24px;
    padding-right: 24px;
}
/* footer */
.footer{
    display: flex;
    padding: 20px;
    background-color: #1F2937;
    justify-content: center; 
}
.footer-text{
    color: #F9FAF8; 
}


